th,td{    
border: 1px solid #000;
border-radius: 5px;
background-color: #f6593e;
padding: 10px;
align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela{
    height: 100%;
/*border-collapse: collapse */
}

.relatorio{
    display: flex;
    align-items: center;
    justify-content: center;
}

th{
    background-color: #000;
    color: white;

}