body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/* se class */
.topo{
    background-color:rgb( 32, 32, 32); 
    color: white;
    display: flex; /* os tipos de exibição internos e externos de um elemento. */
    align-items: center;
    justify-content: space-between; /*é uma propriedade que permite alinhar elementos em um container flexível ao longo do eixo principal. */
}

/* se id (forma de chamar  */
#topo a{
    color: white;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a{
    padding: 10px;
}

.navbar a:hover{
    background-color: rosybrown;
    border-radius: 5px;
}

.conteudo-black{
    background-color: #3c3c3c;
}

.conteudo-blue{
    background-color: blue;
}