form{
background-color: #f6593e;
border-radius: 5px;
width: 600px;
padding: 20px;
}

label{
    display: block;
}

input{
   width: 100%;
   padding: 1px;
   border: 1px solid#ccc;
   border-radius: 5px;
}

input[type="submit"]{
    background-color: #0073a6;  
    color: white;
    border: none;
    margin-top: 15px;
    width: 100%;
}

input[type="submit"]:houver{
    background-color: blue;
}